:root{
    --main-title-color: #ffff;
    --main-text-color: #d6d6d6;
    --main-nav-bg-color:#7e35eb;
    --main-btn-color: #FF007A;
    --main-bg-item:#ffff;
    --main-bg-second-item:#f7f5ff;
    --main-bg-item-text-color: #3D3A41;
    --main-body-clor: #fff;
    --main-sfoware-color-text:#211F25;
    
}